<html>
    <head>
        <title>Default lauout page</title>
    </head>
    <body>
        <div>Header of Razor Page</div>
        @RenderBody()
        <div>Footer: 2022 all right reserved To Shag Academy</div>
    </body>
</html>
